footer{
    background-color: #353a3F;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 20px;
}


.titulo{
    display: block;
}

.contenido{
    display: block;
}

.agregarTarea{
    margin-top: 1%;
}

.container{
    width: 50%;
    margin-top: 2%;
}